body {
    background-color: #0D0D0D;
    display: grid ;
    place-items: center;
    width: 100%;
    margin: 0;
    min-height: 100vh;
}

img {
    width: 125px;
    height: 125px;
    border-radius: 50%;
}

h1 {
    color: white;
    margin: 30px 0 0 ;
    font-size: 24px;
    font-family: "test1";

}

p {
    color: rgb(171, 171, 74);
    margin-top: 5px;
}

h5 {
    color: white;
    margin-bottom: 5px;
    margin-top: 0;
    font-family: "test2";
}

input[type="button"] {
    color: white;
    display: block;
    background-color: grey;
    height: 50px;
    width: 90%;
    margin-top: 20px;
    border-radius: 12px;
    font-family: "test2";
    font-weight: bold;
}

div {
    display: grid;
    place-items: center;
    background-color:#1F1F1F ;
    width: 290px;
    text-align: center;
    margin: 50px 0;
    padding: 30px;
    border-radius: 20px;
    box-sizing: border-box;
    width: min(90%, 350px);
}

@font-face {
    font-family: "test1";
    src: url("fonts/Inter-VariableFont_slnt\,wght.ttf");
    font-weight: normal;
    font-size: normal;
}

@font-face {
    font-family: "test2";
    src: url(fonts/static/Inter-Bold.ttf);
}
